@import "tailwindcss";

@theme {
  --color-primary: oklch(26.6978% 0.011068 285.626204);
  --color-secondary: oklch(90.1328% 0.005985 285.282584);
  --color-text: #111111;
  --color-base-100: #ffffff;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-[#e6e6e6] text-text overflow-x-hidden antialiased;
  }
}

@import "./components.css";
@import "./solar.css";
