@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #333333;
  --color-accent: #ff0000; /* Red for high contrast hits */
  --color-bg: #f0f0f0;
  --color-text: #000000;
  
  --font-mono: "Space Mono", monospace;
  --font-sans: "Space Mono", monospace; /* Forcing mono for brutalist feel */
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-bg text-text font-mono antialiased overflow-x-hidden;
    /* Default border for everything in brutalism */
    border-color: #000000;
  }
}

@import "./components.css";
@import "./solar.css";
